---
import {presentation, profession, life, ending, mobile, images} from '../data/byteOfMe';
---

<div class="w-full flex flex-col-reverse pt-6">
    <div class="hidden gap-4 w-full text-justify leading-relaxed tracking-wide max-w-prose text-xl md:flex md:flex-col lg:w-1/2">
        <p>{presentation}</p>
        <p>{profession}</p>
        <p>{life}</p>
        <p>{ending}</p>
    </div>
    <div class="flex flex-col gap-2 text-lg text-justify leading-relaxed tracking-wide max-w-prose w-full md:hidden">
        <p>{mobile}</p>
    </div>
    <div class="w-full lg:w-1/2">
        <!-- 
        <p>{images}</p>
        -->
    </div>
</div>