---
import MenuItem from "../components/MenuItem.astro";

const id = "home"
const name = "Gustavo Pérez";
const role = "Fullstack Dev";
const navigation = [
    {
        text: "Code Journey",
        href: "#journey"
    },
    {
        text: "Skills Forge",
        href: "#skills"
    },
    {
        text: "Build Lab",
        href: "#lab"
    },
    {
        text: "Byte of Me",
        href: "#me"
    }
];

---

<section id={id} class="min-h-screen">
    <div class="w-full flex flex-col lg:flex-row lg:pt-8">
        <div class="w-full lg:w-1/2">
            <h1 class="text-8xl md:text-[11rem] xl:text-[16rem] 2xl:text-[30rem] leading-none font-bold font-bebas-neue text-center lg:text-left">
                {name}
            </h1>
            <h2 class="text-2xl md:text-4xl xl:text-7xl 2xl:text-[10rem] font-roboto dark:text-mint text-gray-blue text-center lg:text-left">
                {role}
            </h2>
        </div>
        <!-- 
        <div class="w-full lg:w-1/2 hidden lg:flex flex-col items-center justify-around">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            { 
                navigation.map(({text, href}) => (
                    <MenuItem href={href} text={text} />
                ))
            }  
        </div>
        -->
    </div>
</section>
