---
import MenuItem from "../components/MenuItem.astro";

const id = "home"
const fullName = "Gustavo Pérez";
const name = "Gustavo";
const lastName = "Pérez";
const role = "Fullstack Dev";
const navigation = [
    {
        text: "Code Journey",
        href: "#journey"
    },
    {
        text: "Skills Forge",
        href: "#skills"
    },
    {
        text: "Build Lab",
        href: "#lab"
    },
    {
        text: "Byte of Me",
        href: "#me"
    }
];

---

<section id={id} class="min-h-screen bg-amber-100">
    <div class="w-full flex flex-col items-center">
        <h1 class="text-8xl md:text-[16rem] lg:text-[14rem] xl:text-[16rem] 2xl:text-[22rem] leading-none font-bold font-bebas-neue text-center">
            <span class="xl:hidden">{fullName}</span>
            <span class="hidden lg:block">{name}</span>
            <span class="hidden lg:block">{lastName}</span>
        </h1>
        <h2 class="text-2xl md:text-4xl lg:text-6xl font-marker dark:text-mint text-gray-blue">
            {role}
        </h2>
        <!-- 
        <div class="flex items-center gap-4">
            { 
                navigation.map(({text, href}) => (
                <MenuItem href={href} text={text} />
                ))
            }
        </div>  
        -->
    </div>
</section>
