---
import MenuItem from "../components/MenuItem.astro";

const id = "home"
const name = "Gustavo Pérez";
const role = "Fullstack Dev";
const navigation = [
    {
        text: "Code Journey",
        href: "#journey"
    },
    {
        text: "Skills Forge",
        href: "#skills"
    },
    {
        text: "Build Lab",
        href: "#lab"
    },
    {
        text: "Byte of Me",
        href: "#me"
    }
];

---

<section id={id} class="min-h-screen">
    <div class="w-full flex flex-col items-center">
        <h1 class="text-8xl md:text-[10rem] lg:text-[12rem] xl:text-[16rem] leading-none font-bold font-bebas-neue text-center">
            {name}
        </h1>
        <h2 class="text-xl md:text-3xl lg:text-5xl xl:text-6xl font-marker dark:text-mint text-gray-blue">
            <!--
            <!-- 
            class="transform -skew-y-3 origin-right rotate-1"
            -->
            {role}
        </h2>
        <!-- 
        <div class="flex items-center gap-4">
            { 
                navigation.map(({text, href}) => (
                <MenuItem href={href} text={text} />
                ))
            }
        </div>  
        -->
    </div>
</section>